# Python
__pycache__/
*.pyc
# venv
.venv/
# Django
db.sqlite3
db.sqlite3d
*.sqlite3
# OS
.DS_Store
servicio_expedientes/expedientes/migrations/*
servicio_pacientes/pacientes/migrations/0001_initial.py
